# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# User settings
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Build products
build/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Accidental files
*.swp
*~.nib
*.DS_Store

# App data (for testing)
*.app
*.dSYM.zip
*.dSYM

# Code coverage
*.gcda
*.gcno
*.profdata
